<div id="name-input">
  <p>
    <input type="text" placeholder="{{model.fName}}" id="fname" class="name-field" />
  </p>
  <p>
    <input type="text" placeholder="{{model.lName}}" id="lname" class="name-field" />
  </p>
  <p>
    <input type="text" placeholder="{{model.sfx}}" id="sfx" class="name-field" />
  </p>
  <button id="submitButton">{{buttonText}}</button>
</div>
{{yield}}
